$navbar-padding-horizontal: 2rem;
$navbar-padding-vertical: 3rem;
$card-radius: 0.5rem;
$primary-color: blueviolet;
$primary: #8c67ef;
html, body{
    width: 100%;
}
.profile-pic {
    position:absolute;
    z-index: 1;
}
.profile-pic img{
    width: 30rem;
    height: 40rem;
    border-radius: 2rem;
    box-shadow: 50%;
}

.empty-space{
    width: 163.88px;
}
.web-title {
    font-size: 1.5rem;
    color: $primary-color;
}

.resume {
    width: 50rem;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 20px;
}
.card {
    width: 30rem;
    margin: 2rem;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 10px 10px -4px rgb(204, 149, 255);
}
.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 6rem;
    padding-top: 1rem;
}

.page-title{
    text-align: center;
    font-size: 2rem;
    padding-top: 4rem;
}
.copyright{
    width:30rem;
    line-height: 1.5;
    padding: 1rem 0.75rem;
    position: relative;
}

.copyright img{
    width: 0.8rem;
}

.socials img{
    width: 1.5rem;
}

.main-page {
    height: 100%;
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.text-container {
    font-size: 2rem;
    text-align: center;
}

.main-page-content-title{
    color:$primary-color;
}
.languages-container{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skills-page {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-evenly;
    padding: 4rem;
}

.skill-card {
    width: 12.5rem;
}

.skill-label {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    text-align: center;
}
#skills-summary {
    width:100vw;
    height: 100%;
    padding: 20rem;
}
.skill-label-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.progress-skill-bar {
    height: 1.5rem;
    animation-name: slide;
    border-radius: 5rem;
    position: absolute;
    z-index: 2;
  }
  
@keyframes slide {
0% {
    width: var(--from-width);
}
100% {
    width: var(--to-width);
}
}
.progress-skill-bar-background{
    height: 1.5rem;
    background-color: lightgrey;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    z-index: 1;
}
.progress-skill-container {
    display: flex;
    margin-top: 2rem;
}

.progress-label-title{
    font-size: 1rem;
    font-weight: bold;
}

.progress-skill-bar-container:hover{
    cursor: pointer;
}
.percentage-title{
    display: block;
    color: white; 
    padding-right: 10px;
    text-align: right;
}
@import "~bulma";
@import "~buefy/src/scss/buefy";