$navbar-padding-horizontal: 2rem;
$navbar-padding-vertical: 3rem;
$card-radius: 0.5rem;
$primary-color: blueviolet;
$primary: #8c67ef;
@import "~bulma";
@import "~buefy/src/scss/buefy";
html, body{
    width: 100%;
}
.profile-pic {
    position:absolute;
    z-index: 1;
}
.profile-pic img{
    width: 30rem;
    height: 40rem;
    border-radius: 2rem;
    box-shadow: 50%;
}

.empty-space{
    width: 163.88px;
}
.web-title {
    font-size: 1.5rem;
    color: $primary-color;
}

.resume {
    width: 50rem;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 20px;
}
.card {
    width: 30rem;
}
.icon-github {
    color: black; 
    font-size: 2rem;
}
.icon-github:hover{
    color: $primary-color;
}    /* Change to desired color */

.card:hover{
    box-shadow: 0 10px 10px -4px rgb(204, 149, 255);
}
.card-container {
    margin-top: 2rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.page-title{
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
}
.copyright{
    width:80%;
    line-height: 1.5;
    position: relative;
}

.copyright img{
    width: 0.8rem;
}
.socials {
    display: flex; 
    width:20%; 
    margin-left: auto; 
    gap: 1rem;
    justify-content: right;
}

.main-page {
    height: 100%;
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.text-container {
    font-size: 2rem;
    text-align: center;
}

.main-page-content-title{
    color:$primary-color;
}
.languages-container{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    font-weight: bold;
}

.cardlanguages + .cardlanguages:before{
    content: ", ";
}
.skills-page {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-evenly;
    padding: 2rem 2rem 8rem 2rem;
}

.skill-card {
    width: 12.5rem;
}

.skill-label {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    text-align: center;
}
#skills-summary {
    width:100vw;
    height: 100%;
    padding: 20rem;
}
.skill-label-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.progress-skill-bar {
    height: 1.5rem;
    animation-name: slide;
    border-radius: 5rem;
    position: absolute;
    z-index: 2;
  }
  
@keyframes slide {
0% {
    width: var(--from-width);
}
100% {
    width: var(--to-width);
}
}
.progress-skill-bar-background{
    height: 1.5rem;
    background-color: lightgrey;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    z-index: 1;
}
.progress-skill-container {
    display: flex;
    margin-top: 2rem;
}

.progress-label-title{
    font-size: 1rem;
    font-weight: bold;
}

.progress-skill-bar-container:hover{
    cursor: pointer;
}
.percentage-title{
    display: block;
    color: white; 
    padding-right: 10px;
    text-align: right;
}

.footerSection {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    background-color: lightgrey;
    padding: 1rem 1rem;
}

.about-header-background{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: darkslateblue;
    height: 20rem; 
    padding: 2.5rem;
    gap: 8rem;
    color: white;
}

.about-header-backgroundAlt{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: darkslateblue;
    height: 16rem; 
    padding: 2.5rem;
    gap: 10rem;
    color: white;
}

.profile-pic{
    flex-shrink: 0;
}
.profilePic img{
    min-width: 18.5rem;
    max-width: 18.5rem;
    border-radius: 1rem;
}

.profile-picAlt{
    flex-shrink: 0;
}
.profilePicAlt img{
    min-width: 14rem;
    max-width: 14rem;
    border-radius: 1rem;
}

.introduction {
    width: 25rem;
    height: 10rem;
    padding: 1rem 2rem 5rem 2rem;
}
.introductionAlt {
    height: 10rem;
    padding: 4rem 2rem 5rem 2rem;
}
.profileSocials {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.profileSocialsAlt {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}
.about-links {
    display: flex;
    padding-top: 7rem;
    width: 100%;
    height: 10rem;
    justify-content: space-around;
}